<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/StylesREGISTERyLOGIN.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" /> 
    <title>Register DH Fitness</title>

</head>

<body>

    <main class="main-container-register">
     <section>

        <form class="register-container">



            <div class="register-title">
                 <h1 class="register-h1"> <i class="fas fa-sign-in-alt"></i></i>Registrate </h1>
            </div>
        

        
            <div class="register-cajas-input">
              <input type="email" name="email" placeholder="✉ Ingresá tu email">
            </div>

            <div class="register-cajas-input">
                <input type="password" name="password" placeholder="🔓 Insertá contraseña" >
           </div>
   
           <div class="register-cajas-input">
               <input type="password" name="password" placeholder="🔒 Confirmá contraseña">
          </div>
   
          <div class="register-pp">
            <label class="register-pp-label"> <input type="checkbox" name="privacypolicy" value="privacypolicy"> &nbsp &nbsp &nbsp Acepto política de privacidad <span class="checkmark"></span></label>
            <a href="https://mirfitness.com.ar/politica-de-privacidad-2/"><p class="leer-politica">Leer primero</p></a>
          </div>


          <button type="submit" class="register-button">registrate</button>

           

        </form>

     </section>   
    </main>

</body>
</html>