* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}
/*------------------------------------INICIO DEL HEADER-----------------------------------------*/
.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}
.containerHeader {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px 5px 0px;
}
.hamburger {
    color: white;
    margin-left: 30px;
}
.logo {
width: 19vw;
height: 6vh;
align-self: stretch;
}
.navbar {
    display: none;
}
.navbar ul {
    list-style: none;
    width: 240px;
    font-size: 25px;
}
.menuNav > li {
    position: relative;
    display: inline-block;
}
.menuNav > li > a {
    display: block;
    text-decoration: none;
    color: white;
}
.menu li a:hover {
    color: gray;
    transition: all .3s;
}
.submenuNav {
    position: absolute;
    display: none;
    transition: all 2s;
}
.submenuNav li a {
    display: block;
    text-decoration: none;
    color: white;
    padding-top: 10px;
    background-color: black;
}
.menuNav li:hover .submenuNav {
    display: block;
}

.navbarIcons{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    margin-right: 30px;
    text-decoration: none;
}
.search{
    color: white;
    display: none;
    margin-right: 10px;
    font-size: small;
}
.search a {
    text-decoration: none;
}
.user{
    color: white;
    display: none;
    margin-right: 10px;
    font-size: small;
}
.register{ 
    color: white;
    display: none;
    margin-right: 10px;
    font-size: small;
}
.cart {
    color: white;
    margin-right: 10px;
    font-size: small;
}
/*------------------------------------FIN DEL HEADER----------------------------------------------*/
/*------------------------------------INICIO DEL MAIN---------------------------------------------*/

/*--------------TODAS LAS CATEGORIAS------------*/
.categories {
    position: relative;
    display: inline-block;
}

.divTextCategories {
    position: absolute;
    top: 25%;
    left: 15%;
    color: white;
}

.divButtonCategories {
    position: absolute;
    top: 70%;
    left: 15%;
}

.buttonCategories {
    font-size: 2vw;
    background-color: orange;
    color: white;
    padding: 10px;
}

/*--------------TODOS LOS ACCESORIOS------------*/
.accessories {
    position: relative;
    display: inline-block;
}

.divTextAccessories {
    position: absolute;
    top: 25%;
    left: 15%;
    color: white;
}

.divButtonAccessories {
    position: absolute;
    top: 70%;
    left: 10%;
    
}

.buttonAccessories {
    font-size: 2vw;
    background-color: black;
    color: white;
    padding: 10px;
    border: 2px white sokid;
}

/*----------------GROUP FITNESS--------------*/
.groupFitness {
    position: relative;
    display: inline-block;
}

.divTextGroupFitness {
    position: absolute;
    top: 25%;
    left: 15%;
    color: black;
}

.divButtonGroupFitness {
    position: absolute;
    top: 70%;
    left: 10%;
    
}

.buttonGroupFitness {
    font-size: 2vw;
    background-color: white;
    color: black;
    padding: 10px;
    border: 2px black sokid;
}


/*----------------FUNCTIONAL TRAINING--------------*/
.functionalTraining {
    position: relative;
    display: inline-block;
}

.divTextFunctionalTraining {
    position: absolute;
    top: 25%;
    left: 8%;
    color: black;
}

.divButtonFunctionalTraining {
    position: absolute;
    top: 50%;
    left: 10%;
    
}

.buttonFunctionalTraining {
    font-size: 2vw;
    background-color: white;
    color: black;
    padding: 10px;
    border: 2px black sokid;
}

/*----------------YOGA / PILATES--------------*/
.yogaPilates {
    position: relative;
    display: inline-block;
}

.divTextYogaPilates {
    position: absolute;
    top: 15%;
    left: 8%;
    color: black;
}


.divButtonYogaPilates {
    position: absolute;
    top: 65%;
    left: 10%;
    
}

.buttonYogaPilates {
    font-size: 2vw;
    background-color: white;
    color: black;
    padding: 10px;
    border: 2px black sokid;
}



.imageProducts {
    width: 100%;
}

.imageAccessories {
    width: 100%;
    margin-top: -6px;
}

.imageGroupFitness {
    width: 100%;
}

.imageFunctionalTraining {
    width: 100%;
    margin-bottom: -350px;
}

.imageMat-naranja {
    width: 100%;
}

.video {
    text-align: center;
}

.iconsCommercial {
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
}

.iconsCommercial i {
    color: #1259c3;
    text-align: center;
    font-size: 2em;
}

/*------------------------------------FIN DEL MAIN------------------------------------------------*/
/*------------------------------------INICIO DEL FOOTER-------------------------------------------*/
.about {
    background-color: black;
    padding: 20px 25px 60px;
}
.tituloFooter {
    color: white;
    padding: 20px 5px;
}
.about a {
    text-decoration: none;
    color: cadetblue;
}
.about p {
    padding: 5px 2px;
}
.iconsFooter {
    background-color: white;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    color: black;
    text-align: center;
    font-size: 2em;
}


/*------------------------------------FIN DEL FOOTER----------------------------------------------*/

@media (min-width: 481px){
    /*recuadre el logo solo para ver el alcance*/
    .logo {
        width: 10vw;
        height: 6vh;
        align-self: stretch;
    }
   
}
@media (min-width: 769px){
    /*recuadre el logo solo para ver el alcance*/
    .logo {
        width: 6vw;
        height: 6vh;
        align-self: stretch;
        margin-left: 30px;
    }
    .navbar {
        display: block;
    }
    .hamburger {
        display: none;
    }
    .search{
        color: white;
        display: inline-block;
    }
    .user{
        color: white;
        display: inline-block;
    }
    .register{ 
        color: white;
        display: inline-block;
    }
    .iconsFooter {
        display: none;
    }
}
/* 
media query 0 / 480
media query 481 / 768
media query 769 / 1279
media query +1280

*/