* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", cursive;
}

/* ------------------------Estilos del productCreate y del productEdit---------------------------*/

.main-container-admin {
  display: flex;
  justify-content: center;
  background-color: rgb(230, 220, 216);
  padding-bottom: 40px;
  padding-top: 40px;
}

.admin-container {
  margin-top: 10vh;
  margin-bottom: 20vh;
  max-width: 450px;
  padding: 20px;
  background-color: white;
}

.admin-h1 {
  font-size: 35px;
  color: #2a2828;
  letter-spacing: 1px;
  width: 100%;
  height: 10%;
  border-bottom: solid 2px black;
}

.admin-cajas-input {
  margin: 20px;
  text-align: left;
  font-size: 18px;
  letter-spacing: 1px;
}

.admin-textarea {
  margin: 10px;
  margin-top: 20px;
  text-align: left;
  width: 45vw;
}

.textarea-input,
.admin-cajas-input input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  padding: 10px;
  color: grey;
  width: 100%;
  border: solid 1px grey;
  border-radius: 4px;
  margin-top: 15px;
  min-width: 200px;
  max-width: 400px;
}
.admin-category {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  padding: 2px;
  color: grey;
  width: 100%;
}

.admin-input-photo input {
  margin-top: 50px;
}

/* @media (min-width: 769px){
 
    .container-left {
        display: flex;
        flex-direction: row;
    }  */

/* ------------------------Botón: GUARDAR---------------------------*/

.admin-button {
  width: 100%;
  padding: 5px;
  margin-top: 20px;
  color: white;
  height: 50px;
  font-size: 20px;
  letter-spacing: 2px;
  border: none;
  box-shadow: 3px 3px 3px rgb(73, 72, 72);
  background-color: rgb(27, 26, 26);
  transition: background-color 0.5s;
}

.admin-button:hover {
  background-color: rgb(219, 63, 6);
}

/* ------------------------Estilos del adminDashboard---------------------------*/
.dashboard-title {
  font-size: 50px;
  letter-spacing: 2px;
  color: rgb(145, 146, 145);
}
.dashboard-titles-container {
  display: flex;
  margin-top: 3vw;
  margin-bottom: 2vw;
}

.dashboard-titles {
  font-size: 20px;
  text-align: center;
}

.dashboard-products-container {
  display: flex;
  flex-direction: column;
}

.dashboar-product-box {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.dashboard-small-column {
  width: 6vw;
}

.dashboard-large-column {
  width: 25vw;
}

.dashboard-medium-column {
  width: 15vw;
}

/* ------------------------Estilos del BOTONES DEL DASHBOARD---------------------------*/
.dashboard-btn-container {
  display: flex;
}
.dashboard-btn-detalle,
.dashboard-btn-borrar,
.dashboard-btn-edit {
  width: 100%;
  padding: 4px;
  color: rgb(214, 206, 206);
  height: 32px;
  font-size: 20px;
  letter-spacing: 2px;
  border: white solid 1px;
  transition: background-color 0.5s;
}
.dashboard-btn-create {
  font-size: 30px;
  background-color: rgb(204, 62, 10);
  margin-top: 10px;
  height: 50px;
  width: 100%;
  padding: 5px;
  color: rgb(214, 206, 206);
  letter-spacing: 2px;
  border: none;
  transition: background-color 0.5s;
}
.btn-hover:hover {
  background-color: rgb(223, 66, 9);
}

.dashboard-btn-detalle,
.dashboard-btn-borrar,
.dashboard-btn-edit {
  background-color: rgb(39, 39, 38);
}
