* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", cursive;
}

/*---ESTOY HAY QUE SACARLO ES DE PRUEBA---*/
.prueba {
  margin-top: 200px;
  margin-bottom: 200px;
}
