* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", cursive;
}

/* ------------------------LOGIN FORM---------------------------*/

.main-container-login {
  display: flex;
  justify-content: center;
  background-color: rgb(230, 220, 216);
}

.login-container {
  margin-top: 20vh;
  margin-bottom: 20vh;
  max-width: 450px;
  padding: 20px;
  background-color: white;
}

.login-h1 {
  font-size: 35px;
  color: #2a2828;
  letter-spacing: 1px;
  width: 100%;
  height: 10%;
  border-bottom: solid 2px black;
}

.login-title {
  text-align: center;
}

.login-cajas-input {
  margin: 10px;
  text-align: left;
  width: 45vw;
}

.login-cajas-input input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  padding: 10px;
  color: grey;
  width: 100%;
  border: solid 1px grey;
  border-radius: 4px;
  margin-top: 15px;
  min-width: 200px;
  max-width: 400px;
}

/* ------------------------Botón: INGRESAR---------------------------*/

.login-button {
  width: 100%;
  padding: 5px;
  margin-top: 20px;
  color: white;
  height: 50px;
  font-size: 20px;
  letter-spacing: 2px;
  border: none;
  box-shadow: 3px 3px 3px rgb(73, 72, 72);
  background-color: rgb(27, 26, 26);
  transition: background-color 0.5s;
}

.login-button:hover {
  background-color: rgb(219, 63, 6);
}

/* ------------------¿Nuevo usuario? ir a crear cuenta ---------------------------*/

.go-register-div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.go-register,
.already-an-account {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: grey;
}

.go-register-div a {
  text-decoration: none;
  color: rgb(219, 63, 6);
}

.go-register:hover {
  color: rgb(235, 72, 13);
  font-weight: bolder;
}

/*-----------------------recordarme-----------------------*/

.login-recordarme-div {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.login-recordarme-div label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: #505050;
}

input {
  accent-color: white;
}

.login-checkbox {
  width: 18px;
  height: 18px;
  position: relative;
  top: 4px;
}
