* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", cursive;
  }
  /*------------------------------------INICIO DEL HEADER-----------------------------------------*/
  .header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .containerHeader {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px 5px 0px;
  }
  .hamburger {
    color: white;
    margin-left: 30px;
  }
  .logo {
    height: 8vh;
    align-self: stretch;
  }
  .navbar {
    display: none;
  }
  .navbar ul {
    list-style: none;
    width: 240px;
    font-size: 3.5vw;
  }
  .menuNav > li {
    position: relative;
    display: inline-block;
  }
  .menuNav > li > a {
    display: block;
    text-decoration: none;
    color: white;
  }
  .menu li a:hover {
    color: gray;
    transition: all 0.3s;
  }
  .submenuNav {
    position: absolute;
    display: none;
    transition: all 2s;
  }
  .submenuNav li a {
    display: block;
    text-decoration: none;
    color: white;
    padding-top: 10px;
    background-color: black;
    padding-left: 20px;
  }
  .menuNav li:hover .submenuNav {
    display: block;
  }
  .navbarIcons {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    margin-right: 30px;
    text-decoration: none;
    width: 0%;
  }
  .search {
    color: white;
    display: none;
    margin-right: 10px;
    font-size: small;
  }
  .search a {
    text-decoration: none;
  }
  .user {
    color: white;
    display: none;
    margin-right: 10px;
    font-size: small;
  }
  .register {
    color: white;
    display: none;
    margin-right: 10px;
    font-size: small;
  }
  .cart {
    color: white;
    margin-right: 10px;
    font-size: small;
  }
  /*------------------------------------FIN DEL HEADER----------------------------------------------*/
  /*------------------------------------INICIO DEL MAIN---------------------------------------------*/
  /*--------------TODAS LAS CATEGORIAS------------*/
  .contenedor {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  .contenedor-imagen {
    width: 70%;
    position: relative;
  }
  .contenedor-imagen img {
    max-width: 100%;
  }
  .nombre-boton {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .entrenamiento-funcional-img {
    position: relative;
    bottom: 20px;
  }
  .yoga-pilates-img {
    width: 80%;
    position: absolute;
    right: 0;
  }
  .text-section {
    margin-bottom: 10px;
    font-size: 3.5vw;
    text-align: center;
  }
  .categories {
    position: relative;
    display: inline-block;
  }
  .divTextCategories {
    position: absolute;
    top: 25%;
    left: 15%;
    color: white;
    font-size: 3.5vw;
  }
  .divButtonCategories {
    position: absolute;
    top: 70%;
    left: 15%;
  }
  .buttonCategories {
    font-size: 3vw;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: 100ms;
    border-radius: 5%;
  }
  .buttonCategories:hover {
    box-shadow: 0 0 50px rgba(255, 165, 0, 1);
  }
  /*--------------TODOS LOS ACCESORIOS------------*/
  .accessories {
    position: relative;
    display: inline-block;
  }
  .divTextAccessories {
    position: absolute;
    top: 25%;
    left: 15%;
    color: white;
  }
  .divTextAccessories h5 {
    font-size: 3.5vw;
  }
  .divTextAccessories h2 {
    font-size: 5.2vw;
  }
  .divButtonAccessories {
    position: absolute;
    top: 70%;
    left: 10%;
  }
  .buttonAccessories {
    font-size: 3.5vw;
    background-color: black;
    color: white;
    padding: 10px;
    border: 2px white solid;
    cursor: pointer;
    border-radius: 5%;
    transition: 100ms;
  }
  .buttonAccessories:hover {
    box-shadow: 0 0 50px rgba(255, 165, 0, 1);
  }
  /*----------------GROUP FITNESS--------------*/
  .groupFitness {
    position: relative;
    display: inline-block;
  }
  .divTextGroupFitness {
    position: absolute;
    top: 25%;
    left: 15%;
    color: black;
  }
  .divButtonGroupFitness {
    position: absolute;
    top: 70%;
    left: 10%;
  }
  .buttonGroupFitness {
    font-size: 3vw;
    background-color: white;
    color: black;
    padding: 10px;
    border: 2px black sokid;
    cursor: pointer;
    border-radius: 5%;
    transition: 100ms;
  }
  .buttonGroupFitness:hover {
    box-shadow: 0 0 50px rgba(255, 165, 0, 1);
  }
  /*----------------FUNCTIONAL TRAINING--------------*/
  .functionalTraining {
    position: relative;
    display: inline-block;
  }
  .divTextFunctionalTraining {
    position: absolute;
    top: 25%;
    left: 8%;
    color: black;
  }
  .divButtonFunctionalTraining {
    position: absolute;
    top: 50%;
    left: 10%;
  }
  .buttonFunctionalTraining {
    font-size: 3vw;
    background-color: white;
    color: black;
    padding: 10px;
    border: 2px black sokid;
    cursor: pointer;
    border-radius: 5%;
    transition: 100ms;
  }
  .buttonFunctionalTraining:hover {
    box-shadow: 0 0 50px rgba(255, 165, 0, 1);
  }
  
  /*----------------YOGA / PILATES--------------*/
  .yogaPilates {
    position: relative;
    display: inline-block;
  }
  .divTextYogaPilates {
    position: absolute;
    top: 15%;
    left: 8%;
    color: black;
  }
  .divButtonYogaPilates {
    position: absolute;
    top: 65%;
    left: 10%;
  }
  .buttonYogaPilates {
    font-size: 3vw;
    background-color: white;
    color: black;
    padding: 10px;
    border: 2px black sokid;
    cursor: pointer;
    border-radius: 5%;
    transition: 100ms;
  }
  .buttonYogaPilates:hover {
    box-shadow: 0 0 50px rgba(255, 165, 0, 1);
  }
  .imageProducts {
    width: 103%;
  }
  .imageAccessories {
    width: 100%;
    margin-top: -30px;
  }
  .imageGroupFitness {
    width: 100%;
  }
  .imageFunctionalTraining {
    width: 100%;
    margin-bottom: -350px;
  }
  .imageMat-naranja {
    width: 100%;
  }
  .video {
    text-align: center;
  }

  /*----------------INFORMACION COMERCIAL--------------*/


  .iconsCommercial {
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
  }
  .iconsCommercial i {
    color: #1259c3;
    text-align: center;
    font-size: 2em;
  }
  /*------------------------------------FIN DEL MAIN------------------------------------------------*/
  /*------------------------------------INICIO DEL FOOTER-------------------------------------------*/
  .about {
    background-color: black;
    padding: 20px 25px 60px;
  }
  .tituloFooter {
    color: white;
    padding: 20px 5px;
  }
  .about a {
    text-decoration: none;
    color: cadetblue;
  }
  .about p {
    padding: 5px 2px;
  }
  .iconsFooter {
    background-color: white;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    color: black;
    text-align: center;
    font-size: 2em;
  }
  /*------------------------------------FIN DEL FOOTER----------------------------------------------*/
  @media (min-width: 481px) {
    .contenedor,
    .nombre-boton {
      height: 300px;
    }
    .logo {
      height: 10vh;
      align-self: stretch;
    }
  }
  @media (min-width: 769px) {
    .logo {
      align-self: stretch;
      margin-left: 30px;
    }
    .navbar {
      display: block;
    }
    .hamburger {
      display: none;
    }
    .search {
      color: white;
      display: inline-block;
    }
    .user {
      color: white;
      display: inline-block;
    }
    .register {
      color: white;
      display: inline-block;
    }
    .container-iconsCommercial {
      display: flex;
      justify-content: space-around;
      margin: 30px;
    }
    .iconsFooter {
      display: none;
    }
    .contenedor,
    .nombre-boton {
      height: 500px;
    }
  }
  .imageProducts {
    width: 103%;
  }
  @media (min-width: 1010px) {
    .navbar ul {
      list-style: none;
      width: 400px;
      font-size: 3.5vw;
    }
  }
  /* 
  media query 0 / 480
  media query 481 / 768
  media query 769 / 1279
  media query +1280
  */