

/*---ESTOY HAY QUE SACARLO ES DE PRUEBA---*/
.prueba {
  margin-top: 200px;
  margin-bottom: 200px;
}
.titleAllCategories {
  text-align: center;
  letter-spacing: 10px;
  margin: 30px;
}
.categories-all-products {
  /*display: inline-block;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 5px 30px 5px;
}
.image-group-fitness-cuadrado {
  width: 80%;
  height: auto;
  /*border-radius: 50%;*/
}
.image-functional-training-cuadrado {
  width: 80%;
  height: auto;
  border-radius: 50%;
  /*border: 1px solid gray;*/
}
.image-mat-naranja-cuadrada {
  width: 80%;
  height: -webkit-fill-available;
  border-radius: 50%;
  /*border: 1px solid gray;*/
}
.title-categories-fitness {
  font-size: 1.5rem;
  text-align: center;
}

.title-categories-functional {
  font-size: 1.5rem;
  text-align: center;
  
}
.title-categories-yoga {
  font-size: 1.5rem;
  text-align: center;

}


.all-products-section {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background-color: #ebebeb;
  border: 1px rgb(177, 166, 166) solid;
  margin-bottom: 10px;
  justify-content: center;
  
}
.all-products-a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin: 10px;
  transition: 300ms;
  position: relative;
}
.all-products-a:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}
.all-products-card {
  margin: 10px;
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.all-products-img {
  width: 100%;
  background-color: #fff;
  height: auto;
}
.all-products-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-size: 1.4rem;
  padding-bottom: 10px;
}
.all-products-description {
 opacity: 0.2; 
 transition: 200ms;
}
.all-products-description:hover {
  opacity: 1;
}
.all-products-icon {
  color: red;
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid red;
  background-color: #ebebeb;
  border-radius: 50%;
  position: absolute;
  right: 40px;
  top: 400px;
}
.all-products-icon:hover {
  transform: rotate(-390deg);
  transition: 1000ms;
}
@media (min-width: 662px){
  .all-products-icon {
    color: red;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid red;
    background-color: #ebebeb;
    border-radius: 50%;
    position: absolute;
    right: 40px;
    top: 400px;
  }
  .all-products-icon:hover {
    transform: rotate(-390deg);
    transition: 1000ms;
  }
}
@media (min-width: 769px) {
  .container-all-categories {
    display: flex;
  }
  
  .categories-all-products {
    /*display: inline-block;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 5px 30px 5px;
    width: 33%;
    text-align: center;
  }
  .img-mat-yoga {
    align-items: center;
    margin-top: 70px;
  }

}