<!-- -------------- HEAD -----------------------  -->
<%- include('./partials/head')%>
 
 
 
<body>
    <!-- -------------- HEADER -------------------  -->
        <%- include('./partials/header')%>


    
    <!-- -------------- MAIN  --------------------------  -->
    <main class="main-container-admin">
     <section>
            <h4 class="dashboard-title">Panel de Administración</h4>
            <!-- ----BOTÓN "CREAR"----  -->
            <a href="http://localhost:3001/admin/dashboard "><button type="submit" class="dashboard-btn-create btn-hover">LISTADO DE PRODUCTOS</button></a>
            <!-- ----BOTÓN "CREAR"----  -->
            <a href="http://localhost:3001/admin/users "><button type="submit" class="dashboard-btn-create btn-hover">LISTADO DE USUARIOS</button></a>       
            	
  </div>
           
          

     
     </section>   
    </main>
    
    <!-- -------------- FOOTER ------------------  -->

    <%- include('./partials/footer')%>
    <!-- ----------------------------------------- -->

</body>
</html>