<!-- -------------- HEAD -----------------------  -->
<%- include('./partials/head')%>
 
 
 
<body>
    <!-- -------------- HEADER -------------------  -->
        <%- include('./partials/header')%>


    
    <!-- -------------- MAIN  --------------------------  -->
    <main class="main-container-admin">
     <section>

             <!-- ----TÍTULOS----  -->
            <div class="dashboard-titles-container">
               <p class="dashboard-title">id</p>
               <p class="dashboard-title">Nombre</p>
               <p class="dashboard-title">Precio</p>
               <p class="dashboard-title">Categoría</p>
               <p class="dashboard-title">Descuento</p>
               <p class="dashboard-title">Acciones</p>
            </div>
          
          <!-- ----PRODUCTOS----  -->
<div class="dashboard-products-container">
   
         <div> <p class="dashboard-title">XX</p></div>
         <div> <p class="dashboard-title">xxxxx</p></div>
         <div> <p class="dashboard-title">xxxx</p></div>
         <div>  <p class="dashboard-title">xxxxx</p></div>
         <div>  <p class="dashboard-title">xxxx</p></div>
       

     <div class="dashboard-btn-container">
           <!-- ----BOTÓN "DETALLE"----  -->
            <button type="submit" class="dashboard-btn-detalle btn-hover">DETALLE</button>

           <!-- ----BOTÓN "BORRAR"----  -->
           <button type="submit" class="dashboard-btn-borrar btn-hover">BORRAR</button>

           <!-- ----BOTÓN "EDITAR"----  -->
           <button type="submit" class="dashboard-btn-edit btn-hover">EDITAR</button>
     </div>




</div>

           
          <!-- ----BOTÓN "CREAR"----  -->
          <button type="submit" class="dashboard-btn-create btn-hover">CREAR</button>
         

        

     </section>   
    </main>
    
    <!-- -------------- FOOTER ------------------  -->

    <%- include('./partials/footer')%>
    <!-- ----------------------------------------- -->

</body>
</html>