<!-- -------------- HEAD -----------------------  -->
<%- include('./partials/head')%>
 
 
 
<body>
    <!-- -------------- HEADER -------------------  -->
        <%- include('./partials/header')%>


    
    <!-- -------------- MAIN  --------------------------  -->

    <main>
        <div>
            <h2>ACÁ IRIA UN CARROUSEL</h2>
        </div>
        <div>
            <h2>ACÁ IRIAN LOS ACCESORIOS</h2>
        </div>
        <div>
            <h2>ACÁ IRIAN DIFERENTES CATEGORIAS</h2>
        </div>
        <div>
            <h2>ACÁ IRIA INFORMACION COMERCIAL</h2>
        </div>
        <div>
            <h2>ACÁ IRIAN LOS MÁS VENDIDOS</h2>
        </div>
    </main>
<!--------------------------------------FIN DEL MAIN------------------------------------------>
<!--------------------------------------INICIO DEL FOOTER------------------------------------->
    <%- include('./partials/footer')%>
<!--------------------------------------FIN DEL FOOTER----------------------------------------->
</body>
<!--------------------------------------FIN DEL BODY------------------------------------------->
</html>