<!-- -------------- HEAD -----------------------  -->
<%- include('./partials/head')%>
<body>
  <!-- -------------- HEADER -------------------  -->
  <%- include('./partials/header')%>
  <!-- -------------- MAIN  --------------------------  -->
  <main>
    <section>
      <div class="categories">
        <img
          src="/images/principal.jpg"
          class="imageProducts"
          alt="imageProducts"
        />
        <div class="divTextCategories">
          <h2>
            3 - 6 - 12 <br />
            CUOTAS <br />
            SIN INTERES
          </h2>
        </div>
        <div class="divButtonCategories">
          <a href="/products"
            ><button class="buttonCategories">TODAS LAS CATEGORIAS</button></a
          >
        </div>
      </div>
    </section>
    <section>
      <div class="accessories">
        <img
          src="/images/accessories.jpg"
          class="imageAccessories"
          alt="imageAccessories"
        />
        <div class="divTextAccessories">
          <h5>20% OFF EN PRODUCTOS SELECCIONADOS</h5>
          <h2>ACCESORIOS</h2>
        </div>
        <div class="divButtonAccessories">
          <a href="/products"
            ><button class="buttonAccessories">
              TODOS LOS ACCESORIOS
            </button></a
          >
        </div>
      </div>
    </section>
    <section>
      <div class="contenedor">
        <div class="nombre-boton">
          <div class="text-section">
            <h2>FITNESS<br />GRUPAL</h2>
          </div>
          <div class="button-section">
            <a href="/products"
              ><button class="buttonGroupFitness">VER PRODUCTOS</button></a
            >
          </div>
        </div>
        <div class="contenedor-imagen">
          <img
            src="/images/groupFitness.jpg"
            alt="imageAccessories"
          />
        </div>
      </div>
    </section>
    <section>
      <div class="contenedor">
        <div class="nombre-boton">
          <div class="text-section">
            <h2>ENTRENAMIENTO<br />FUNCIONAL</h2>
          </div>
          <div class="button-section">
            <a href="/products"
              ><button class="buttonFunctionalTraining">
                VER PRODUCTOS
              </button></a
            >
          </div>
        </div>
        <div class="contenedor-imagen">
          <img
            src="/images/functionalTraining.jpg"
            class="entrenamiento-funcional-img"
            alt="imageFunctionalTraining"
          />
        </div>
      </div>
    </section>
    <section>
      <div class="contenedor">
        <div class="nombre-boton">
          <div class="text-section">
            <h2>YOGA / PILATES</h2>
          </div>
          <div class="button-section">
            <a href="/products"
              ><button class="buttonYogaPilates">VER PRODUCTOS</button></a
            >
          </div>
        </div>
        <div class="contenedor-imagen">
          <img
            src="/images/mat-naranja.jpg"
            class="yoga-pilates-img"
            alt="imageMat-naranja"
          />
        </div>
      </div>
    </section>
    <section>
      <div class="video">
        <iframe
          width="100%"
          height="630"
          src="https://www.youtube.com/embed/vADD1JqIO0c"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </section>
    <section>
      <div class="container-iconsCommercial">
        <article class="iconsCommercial">
          <i class="fa-solid fa-truck"></i>
          <p>ENVIOS A TODO EL PAÍS</p>
        </article>
        <article class="iconsCommercial">
          <i class="fa-solid fa-credit-card"></i>
          <p>3-6-12 CUOTAS SIN INTERÉS</p>
        </article>
        <article class="iconsCommercial">
          <i class="fa-solid fa-lock"></i>
          <p>PAGO RÁPIDO Y SEGURO</p>
        </article>
      </div>
    </section>
  </main>
  <!--------------------------------------FIN DEL MAIN------------------------------------------>
  <!--------------------------------------INICIO DEL FOOTER------------------------------------->
  <%- include('./partials/footer')%>
  <!--------------------------------------FIN DEL FOOTER----------------------------------------->
</body>
<!--------------------------------------FIN DEL BODY------------------------------------------->
</html>