<!-- -------------- HEAD -----------------------  -->
<%- include('./partials/head')%>

<body>
    <%- include('./partials/header')%>
    <main class="page-not-found">
        <img src="/images/page-404.jpg" alt="PAGE NOT FOUND" class="img-page-not-found">
    </main>


</body>