<!-- -------------- HEAD -----------------------  -->
<%- include('./partials/head')%>
<body>
    <!-- -------------- HEADER -------------------  -->
        <%- include('./partials/header')%>
    <!-- -------------- MAIN  --------------------------  -->
    <main class="main-container-admin">
     <section>
     <!-- ----Agregue multipart ----  -->
        <form class="admin-container" enctype="multipart/form-data"  method="POST" action="/products/create" >

             <!-- ----TÍTULO----  -->
            <div class="admin-title">
                 <h1 class="admin-h1">CARGAR PRODUCTO </h1>
            </div>

           <div class="errores-product-create">
               <ul></ul>
           </div>
        
        <div class=container-left>
            <!-- ----NOMBRE ----  -->
            <div class="admin-cajas-input">
                 <label for="">Nombre del producto</label></br>
                 <input type="text" name="name" placeholder="Ingresá nombre del producto" class="nombre-producto-create">
            </div>

            <!-- ----CATEGORÍA----  -->
            <div class="admin-cajas-input">
                 <label for="">Categoría:</label></br>
                 <select class="textarea-input" id="categoria-create" name="category">
                    <option value="" selected disabled hidden>Elegí una opción</option>
                      <option class="textarea-input" value="1">Funcional</option>
                      <option class="textarea-input" value="3">Yoga</option>
                      <option class="textarea-input" value="2">Fitness grupal</option>
                 </select>
            </div>

            <!-- ----foto----  -->
            <div class="admin-cajas-input" class="create-input-photo">
                <label>Foto del producto</label>
                <br>
                <input type="file" name="image" class="imagen-product-create">
           </div>

        </div>


        <div class=container-right>
                <!-- ----DESCRIPCIÓN----  -->
                <div class="admin-cajas-input">
                <label for="">Descripción</label></br>
                <textarea name="description" class="descripcion-product-create" class="textarea-input" id="description" rows="4" cols="38" placeholder="Agregá una descripción"></textarea> 
                </div>

                <!-- ----DESCUENTO----  -->
                <div class="admin-cajas-input">
                <label for="">Descuento</label></br>
                <input type="number" name="discount" placeholder="Ingresá el descuento" class="descuento-product-create">
                </div>
          
                <!-- ----PRECIO----  -->
                <div class="admin-cajas-input">
               <label for="">Precio</label></br>
               <input type="number" name="price" placeholder="Ingresá un precio" class="precio-product-create">
                </div>
         </div>
           <!-- ----BOTÓN "GUARDAR"----  -->
           <button type="submit" class="admin-button">guardar</button>
        </form>

     </section>   
    </main>
    
    <!-- -------------- FOOTER ------------------  -->

    <%- include('./partials/footer')%>
    <!-- ----------------------------------------- -->

</body>
</html>