<!-- -------------- HEAD -----------------------  -->
<%- include('./partials/head')%>
 
 
 
<body>
    <!-- -------------- HEADER -------------------  -->
        <%- include('./partials/header')%>


    
    <!-- -------------- MAIN  --------------------------  -->
    <main class="main-container-admin">
     <section>

        <form class="admin-container">


             <!-- ----TÍTULO----  -->
            <div class="admin-title">
                 <h1 class="admin-h1">CARGAR PRODUCTO </h1>
            </div>
        
        <div class=container-left>
            <!-- ----NOMBRE ----  -->
            <div class="admin-cajas-input">
                 <input type="Text" name="name" placeholder="Ingresá nombre del producto" required>
            </div>

            <!-- ----CATEGORÍA----  -->
            <div class="admin-cajas-input">
                 <label for="">Categoría:</label>
                 <select name="category" required>
                      <option value="accesorios">Accesorios</option>
                      <option value="funcional">Funcional</option>
                      <option value="yoga">Yoga</option>
                      <option value="fitness">Fitness grupal</option>
                 </select>
            </div>

            <!-- ----foto----  -->
            <div class="admin-cajas-input" class="create-input-photo">
                <label class="label-foto-admin">Foto del producto</label>
                <br>
                <input type="file" name="imagenPerfil">
           </div>

        </div>


        <div class=container-right>
                <!-- ----DESCRIPCIÓN----  -->

                <div class="admin-textarea">
                <textarea class="textarea-input" id="description" rows="4" cols="38" placeholder="Descripción"></textarea> 
                </div>

                <!-- ----DESCUENTO----  -->

                <div class="admin-cajas-input">
                <input type="number" name="discount" placeholder="discount" required>
                </div>
          
                <!-- ----PRECIO----  -->
                <div class="admin-cajas-input">
                <input type="number" name="number" placeholder="Precio" required>
                </div>
         </div>


           <!-- ----BOTÓN "GUARDAR"----  -->
           <button type="submit" class="admin-button">guardar</button>

            

        </form>

     </section>   
    </main>
    
    <!-- -------------- FOOTER ------------------  -->

    <%- include('./partials/footer')%>
    <!-- ----------------------------------------- -->

</body>
</html>