<!-- -------------- HEAD -----------------------  -->
<%- include('./partials/head')%>
 
<body>
    <!-- -------------- HEADER -------------------  -->
        <%- include('./partials/header')%>
<!-- -------------- MAIN  --------------------------  -->
    <main  id="cart-page" class="main-container-cart">
     <section>
        <article class="cart-container">

            <div class="cart-img-titulo-cantidad-container">
                 <h1 class="cart-h1"> <i class="fas fa-shopping-cart"></i>Tu carrito de compras </h1>
            </div>
            <div  id="cart-h1-carrito-vacio"><h1 class="cart-vacio">¡Tu carrito está vacío!</h1> </div>
            <div id="containerCarrito"></div>
            <div class="cart-line2"> </div>
            
            <div id="containerTotalPrice" class="cart-total">
                <p>Total:</p>
                <p id="totalCarrito">0</p>
            </div>
            <button class="cart-button-pagar">Pagar</button>
        </article>

     </section>   
    </main>
    
    <!-- -------------- FOOTER ------------------  -->

    <%- include('./partials/footer')%>
    <!-- ----------------------------------------- -->
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
</body>
</html>