<!-- -------------- HEAD -----------------------  -->
<%- include('./partials/head')%>
 
 
 
<body>
    <!-- -------------- HEADER -------------------  -->
        <%- include('./partials/header')%>


    
<!-- -------------- MAIN  --------------------------  -->
<main class="main-container-profile">
    <section>

        <form class="profile-container" action="/user/register" method="POST" enctype="multipart/form-data">


            <!-- ----TÍTULO----  -->
            <div class="profile-title">
                <h1 class="profile-h1"> <i class= "fas fa-user"></i></i>&nbsp&nbsp ¡Hola, Felipe! </h1>
            </div>

            <!-- ----IMAGEN----  -->
            <!--acá hay que cambiar la línea siguiente por una dinámica-->
            <div class="user-img">
            <img src="/images/users/C.jpg" alt="">
            </div>

            <!-- ----NOMBRE----  -->
            <div class="profile-cajas-input">
                <label for="">Nombre</label></br>
                <input type="text" name="firstName" placeholder="Ingresá tu nombre" required>
            </div>

            <!-- ----APELLIDO----  -->

            <div class="profile-cajas-input">
                <label for="">Apellido</label></br>
                <input type="text" name="lastName" placeholder="Ingresá tu apellido" required>
            </div>


            <!-- ----EMAIL----  -->
            <div class="profile-cajas-input">
                <label for="">E-mail</label></br>
                <input type="email" name="email" placeholder="✉ Ingresá tu email" required>
            </div>

        </form>

    </section>
</main>
    
    <!-- -------------- FOOTER ------------------  -->

    <%- include('./partials/footer')%>
    <!-- ----------------------------------------- -->

</body>
</html>
