<!-- <footer>
    <div class="about">
        <h3 class="tituloFooter" >SOBRE NOSOTROS</h3>
        <a href=""><p>¿Quienes Somos?</p></a> 
        <a href=""><p>¿Donde Encontrarnos?</p></a>
        <a href=""><p>Contacto</p></a>
    </div>
    <div class="iconsFooter">
        <i class="fa-solid fa-magnifying-glass"></i>
        <i class="fa-solid fa-user"></i>
        <i class="fa-solid fa-store"></i>
    </div>
</footer> -->

<!-- <footer>
    <div class="about">
        <h3 class="tituloFooter" >SOBRE NOSOTROS</h3>
        <a href=""><p>¿Quienes Somos?</p></a> 
        <a href=""><p>¿Donde Encontrarnos?</p></a>
        <a href=""><p>Contacto</p></a>
    </div>
    <div class="iconsFooter">
        <i class="fa-solid fa-magnifying-glass"></i>
        <i class="fa-solid fa-user"></i>
        <i class="fa-solid fa-store"></i>
    </div>
</footer> -->

<!-- nuevo footer -->
<footer>
    <div class="container-footer-all">
         <div class="container-body">
            <div class="colunm1">
                <h2>Más Información de la 
                       Compañía </h2>
                       <p> 
                    DH Fitness nació en 1989 con el objetivo de promover la actividad física, el cuidado corporal y la salud. Hoy, con 33 años de trayectoria comprometidos con el fitness y más de 280 productos de fabricación nacional, sumado al apoyo de importantes redes de gimnasios, de nuestros distribuidores y de las grandes cadenas de supermercados del país que promueven junto a nosotros los productos a nivel nacional e internacional, podemos decir que somos la empresa líder del mercado.
                    <a href="/contactos.html">Contactos</a>
                 </p>
               </div>
               <div class="colunm2">
                   <h2>Redes Sociales</h2>
                   <div class="filaredes">
                       <img src="/images/icons/facebook.png">
                       <a href="https://www.facebook.com/pages/category/Personal-Coach/DH-Fitness-115122729849098/">Siguenos en Facebook</a>
                   </div>
                   <div class="filaredes">
                       <img src="/images/icons/twitter.png">
                       <!-- <label>Síguenos en Twitter</label> -->
                       <a href="https://twitter.com/bhhomefitness">Siguenos en Twitter</a>
                   </div>
                   <div class="filaredes">
                       <img src="/images/icons/instagram.png">
                       <!-- <label>Síguenos en Instagram</label> -->
                       <a href="https://www.instagram.com/dhfitness01/?hl=es-la">Siguenos en Instagram</a>
                   </div>
                   <div class="filaredes">
                       <img src="/images/icons/youtube.png">
                       <!-- <label>Síguenos en Youtube</label> -->
                       <a href="https://www.youtube.com/user/bhfitness">Siguenos en Youtube</a>
                   </div>
                   <div class="filaredes">
                    <img src="/images/icons/whatsapp.png">
                    <!-- <label>Síguenos en Whatsapp</label> -->
                    <a href="https://chat.whatsapp.com/GaOpIqQD9GVJ7ipxBlkk2G">Siguenos en Whatsapp</a>
                </div>
                   
               </div>
               <div class="colunm3">
                   <h2>Información de Contacto </h2>
                   <div class="filacontactos">
                       <img src="/images/icons/casa (1).png">
                       <label>  Dirección: Belgrano,
                                Av. Crámer 1954
                                C.A.B.A.
                       </label>
                   </div>
                   <div class="filacontactos">
                       <img src="/images/icons/smartphone.png">
                       <label> Tel: (011) 4821-5565 </label>
                   </div>
                   <div class="filacontactos">
                       <img src="/images/icons/gmail.png">
                       <label> Dh.Fitness@Dhfitness.com.ar </label>
                   </div>
               </div>
             </div>
           </div>
           <div class="container-footer">
               <div class="f1">

                  <div class="copyright">
                   @ 2022 Todos los derechos reservados. Powered By Ready!
                  </div>
                  <div class="terminos">
                    <a href="">Información Compañía</a> | <a 
                    href="">Privacidad y Política</a> | <a 
                    href="">Términos y Condiciones</a>
                  </div>

            </div>
        </div>
    </div>
</footer>