<footer>
    <div class="about">
        <h3 class="tituloFooter" >SOBRE NOSOTROS</h3>
        <a href=""><p>¿Quienes Somos?</p></a> 
        <a href=""><p>¿Donde Encontrarnos?</p></a>
        <a href=""><p>Contacto</p></a>
    </div>
    <div class="iconsFooter">
            <i class="fa-solid fa-store"></i>
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-heart"></i>
    </div>
</footer>