<footer>
    <div>
        <h3>SOBRE NOSOTROS</h3>
        <a href=""><p>¿Quienes Somos?</p></a> 
        <a href=""><p>¿Donde Encontrarnos?</p></a>
        <a href=""><p>Contacto</p></a>
    </div>
</footer>