<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesHOME.css">
    <link rel="stylesheet" href="/css/stylesREGISTER.css">
    <link rel="stylesheet" href="/css/stylesLOGIN.css">
    <link rel="stylesheet" href="/css/stylesPRODUCT.css">
    <link rel="stylesheet" href="/css/stylesCART.css">
    <link rel="stylesheet" href="/css/stylesADMIN.css">
    <link rel="stylesheet" href="/css/stylesALLproducts.css">
    <link rel="stylesheet" href="/css/stylesPROFILE.css">
    <link rel="stylesheet" href="/css/stylesPageNotFound.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"> 
    
    <script src="https://kit.fontawesome.com/9533c29d60.js" crossorigin="anonymous"></script>


    <title>DH Fitness </title>

    <!-- VALIDACIONES DEL FRONT -->
    <script src="/js/loginForm.js"></script>
    <script src="/js/registerForm.js"></script>
    <script src="/js/productCreateForm.js"></script>
    <script src="/js/productEditFrom.js"></script>
    
    <!-- HAMBURGER  -->
    <script src="/js/header.js"></script>

</head>