<header class="header">
    <div class="containerHeader">
      <div class="hamburger">
        <i class="fas fa-bars"></i>
      </div>
      <div class="containerLogo">
        <a href="/"><img src="/images/logo DH fitness.jpg" alt="Logo de DH FITNESS" class="logo"/></a>
      </div>
      <nav class="navbar">
        <ul class="menuNav">
          <li><a href="/products">NUESTROS PRODUCTOS</a>
          <ul class="submenuNav">
            <li><a href="/products/2" >FITNESS GRUPAL</a></li>
            <li><a href="/products/1" >ENTRENAMIENTO FUNCIONAL</a></li>
            <li><a href="/products/3" >YOGA / PILATES</a></li>
          </ul>
          </li>
        </ul>
      </nav>
      <div class="navbarIcons">
        <!--<div class="search">
          <a href="/" style="color: white;"><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>-->
        <% if (!user) { %>
        <div class="user">
          <a href="/users/login" style="color: white;"><i class="fa-solid fa-user">Logueate</i></a>
        </div>
        <div class="register">
          <a href="/users/register" style="color: white;"><i class="fa-solid fa-address-card">Registrate</i></a>
        </div>
        <% } %>
        <% if (user) { %>
          <li><a class="menu-profile" href="/users/profile" style="color: white;">Perfil<i></i></a></li>
          <li><form action="/users/logout" method="POST" class="logout">
            <a class="logout"  style="color: white;" onclick="this.closest('form').submit();"> Cerrar Sesión </a>
        </form></li>
            <% } %>
        <div class="cart">
          <a href="/products/cart" style="color: white;"><i class="fas fa-cart-plus"></i></a>
        </div>
      </div>
    </div>
</header>
