<header class="header">
    <div class="containerHeader">
      <div class="hamburger">
        <i class="fas fa-bars"></i>
      </div>
      <div class="containerLogo">
        <a href="/"
          ><img src="/images/logo DH fitness.png" alt="Logo de MIR" class="logo"
        /></a>
      </div>
      <nav class="navbar">
        <ul class="menuNav">
          <li><a href="">PRODUCTOS</a>
          <ul class="submenuNav">
            <li><a href="" >FITNESS GRUPAL</a></li>
            <li><a href="" >ENTRENAMIENTO FUNCIONAL</a></li>
            <li><a href="" >YOGA / PILATES</a></li>
          </ul>
          </li>
        </ul>
      </nav>
      <div class="navbarIcons">
        <div class="search">
          <a href="" style="color: white;"><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
        <div class="user">
          <a href="" style="color: white;"><i class="fa-solid fa-user"></i></a>
        </div>
        <div class="register">
          <a href="" style="color: white;"><i class="fa-solid fa-address-card"></i></a>
        </div>
        <div class="cart">
          <a href="" style="color: white;"><i class="fas fa-cart-plus"></i></a>
        </div>
      </div>
    </div>
</header>
