<header class="header">
    <div class="containerHeader">
      <div class="hamburger">
        <i class="fas fa-bars"></i>
      </div>
      <div>
        <a href="/"
          ><img src="/images/logo DH fitness.png" alt="Logo de MIR" class="logo"
        /></a>
      </div>
      <div class="cart">
        <i class="fas fa-cart-plus"></i>
      </div>
    </div>
</header>
